<div class="container">
  <div class="row mt-4 mb-0">
    <h2>Usuário:</h2>
  </div>
  <div class="row justify-content-center">
    <div class="d-flex" style="width: 35%">
      <input
        type="text"
        class="form-control"
        [disabled]="!validacaoUsuario"
        [(ngModel)]="usuarioMatricula"
      />
      <div style="margin-left: 6px">
        <button
          type="submit"
          class="btn btn-primary"
          style="margin: 2wh"
          [disabled]="!validacaoUsuario"
          (click)="retornarDadosPorMatricula()"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="d-flex justify-content-end ml-3">
      <button
        *ngIf="validacaoUsuario"
        type="submit"
        class="btn btn-primary"
        style="margin-left: 10px"
        (click)="cadastrarNavegate()"
      >
        <i class="bi bi-plus"></i> Nova Tarefa
      </button>
    </div>
  </div>
</div>
<div class="modal" id="modalTarefa" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title">Tarefa - {{ tarefa.codigo }}</h1>
        <button
          *ngIf="validacaoUsuario"
          class="btn"
          style="width: 25%"
          (click)="editTarefa = !editTarefa"
        >
          <i class="bi bi-pencil alig"></i>
        </button>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="editTarefa = true"
        ></button>
      </div>
      <div class="modal-body">
        <app-input-tarefas
          [tarefa]="tarefa"
          [editTarefa]="editTarefa"
        ></app-input-tarefas>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" #input>
  </mat-form-field>
</div>

<div class="tabela-externa">
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <ng-container matColumnDef="codigo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Filtrar por Código"
          
        >
          <p>Código</p>
          
        </th>
        <td mat-cell *matCellDef="let tarefa">
          {{tarefa.codigo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordenar por título"
        >
          <p>Título</p>
        </th>
        <td mat-cell *matCellDef="let tarefa">
        {{tarefa.titulo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="inicio">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordenar pelo mes"
        >
          <p>Mês de Início </p>
        </th>
        <td mat-cell *matCellDef="let tarefa">
          {{tarefa.dataInicio | date: 'MM/yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="prioridade">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordenar por prioridade"
        >
          <p>Prioridade</p>
        </th>
        <td mat-cell *matCellDef="let tarefa">
          <i class="fa-solid fa-circle" [style.color]="getPrioridadeColor(tarefa.prioridade).color" ></i>
          {{tarefa.prioridade}}
      </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordenar por status"
        >
        
          <p>Status</p>
        </th>
        <td mat-cell *matCellDef="let tarefa">
          {{ tarefa.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef><p>Ações</p></th>
        <td mat-cell *matCellDef="let tarefa">
          <button
            mat-mini-fab
            color="primary"
            data-bs-toggle="modal"
            data-bs-target="#modalTarefa"
            (click)="tarefaSelecionada(tarefa)"
            ngbTooltip="Mais informações"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasTabela"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
