<div class="container">
  <div class="row mt-4">
    <div class="col-6 d-flex justify-content-center">
      <input
        type="text"
        class="form-control"
        [disabled]="!validacaoUsuario"
        [(ngModel)]="usuarioMatricula"
      />
    </div>
    <div class="col-6">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="retornarDadosPorMatricula()"
      >
        Pesquisar
      </button>
      <button
        *ngIf="validacaoUsuario"
        type="submit"
        class="btn btn-primary m-2"
        (click)="cadastrarNavegate()"
      >
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="table-responsive mt-4 p-5">
  <table
    class="table align-items-center justify-content-center mb-0 text-center align-middle"
  >
    <thead>
      <tr>
        <th
          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
        >
          Codigo
        </th>
        <th
          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
        >
          Título
        </th>
        <th
          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
        >
          Autor
        </th>
        <th
          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
        >
          Prioridade
        </th>
        <th class="text-secondary opacity-7"></th>
      </tr>
    </thead>
    <tbody *ngFor="let tarefa of tarefaDados">
      <tr>
        <td>
          {{ tarefa.codigo }}
        </td>
        <td>
          {{ tarefa.titulo }}
        </td>
        <td>
          {{ tarefa.autor }}
        </td>
        <td>
          {{ tarefa.prioridade }}
        </td>
        <td>
          <button
            mat-icon-button
            matTooltip="Mais informações"
            matTooltipPosition="above"
            color="grey"
            data-bs-toggle="modal"
            data-bs-target="#modalTarefa"
            (click)="tarefaSelecionada(tarefa)"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="modalTarefa" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title">Tarefa - {{ tarefa.codigo }}</h1>
        <button *ngIf="validacaoUsuario" class="btn" style="width: 25%" (click)="editarTarefa()">
          <i class="bi bi-pencil alig"></i>
        </button>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="mb-3" style="width: 50%">
            <label class="form-label">Autor</label>
            <input
              type="text"
              class="form-control"
              value="{{ tarefa.autor }}"
              disabled
            />
          </div>
          <div class="mb-3" style="width: 50%">
            <label class="form-label">Realizada </label>
            <input
              type="text"
              class="form-control"
              value="{{ tarefa.matricula }}"
              [disabled]="editTarefa"
            />
            <input
              type="text"
              class="form-control mt-1"
              value="{{ tarefa.nomeUsuario }}"
              [disabled]="editTarefa"
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3" style="width: 50%">
            <label class="form-label">Prioridade</label>
            <input
              type="text"
              class="form-control"
              value="{{ tarefa.prioridade }}"
              [disabled]="editTarefa"
            />
          </div>
          <div class="mb-3" style="width: 50%">
            <label class="form-label">Status</label>
            <input
              type="text"
              class="form-control"
              value="{{ tarefa.status }}"
              [disabled]="editTarefa"
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea
              class="form-control"
              placeholder="Descricao"
              value="{{ tarefa.descricao }}"
              [disabled]="editTarefa"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-outline mb-4" style="width: 50%">
            <mat-form-field>
              <input
                matInput
                [ngxMatDatetimePicker]="pickerInicio"
                placeholder="Início"
                value="{{tarefa.dataInicio}}"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="$any(pickerInicio)"
              ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerInicio></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="form-outline mb-4" style="width: 50%; z-index: 200;">
            <mat-form-field>
              <input
                matInput
                [ngxMatDatetimePicker]="pickerFinal"
                placeholder="Fim"
                [ngModel]="tarefa.dataFinal"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="$any(pickerFinal)"
              ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerFinal></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Concluir
        </button>
      </div>
    </div>
  </div>
</div>
