.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-header h1 {
  margin: 0%;
  padding: 0%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-elevation-z8 {
  width: 75%;
  display: contents;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 75%;
}
