<section class="vh-50">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <form [formGroup]="formGroup">
            <div class="row g-0">
              <div class="card-body p-4">
                <div class="row pt-1">
                  <h2 style="width: 75%">Informações</h2>
                  <button
                    type="button"
                    class="btn"
                    (click)="editarUsuario()"
                    style="width: 25%"
                  >
                    <i class="bi bi-pencil alig"></i>
                  </button>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <h3>Matrícula</h3>
                  <p class="text-muted">{{ usuario.matricula }}</p>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h3>Email</h3>
                    <p class="text-muted">{{ usuario.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h3>CPF</h3>
                    <p class="text-muted">{{ usuario.cpf | CPF }}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h3>Nome</h3>
                    <p *ngIf="!edit" class="text-muted">{{ usuario.nome }}</p>
                    <input
                      *ngIf="edit"
                      class="form-control"
                      formControlName="nome"
                    />
                  </div>
                  <div class="col-6 mb-3">
                    <h3>Data de Nascimento</h3>
                   <p *ngIf="!edit" class="text-muted">
                      {{ usuario.dataNascimento | date: "dd/MM/yyyy" }}
                    </p>
                    <input
                    *ngIf="edit"
                      type="date"
                      class="form-control"
                      formControlName="dataNascimento"
                      max="{{ date }}"
                      min="1900-01-01"
                    />
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h3>Status</h3>
                    <p *ngIf="!edit" class="text-muted">{{ usuario.status }}</p>
                  </div>
                </div>
                <div class="row mb-3 d-flex align-items-end">
                  <div class="d-flex justify-content-end col-6">
                    <button
                      *ngIf="edit"
                      type="button"
                      (click)="edit = false"
                      class="btn btn-secondary"
                    >
                      Cancelar
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      *ngIf="edit"
                      type="button"
                      (click)="salvarUsuarioEditado()"
                      class="btn btn-primary"
                    >
                      Enviar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
