<div class="container">
  <div class="box">
    <div class="text-center mx-auto p-2">
      <h2>Cadastrar Tarefa</h2>
    </div>
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="form-outline mb-4" style="width: 75%">
          <label class="form-label">Matricula</label>
          <input
            type="text"
            class="form-control"
            placeholder="Matricula"
            formControlName="matricula"
          />
        </div>
        <div class="form-outline mb-4" style="width: 15%">
          <button
            type="submit"
            class="btn btn-primary justify-items-center"
            (click)="retornarUsuario()"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Nome</label>
          <input
            class="form-control"
            type="text"
            disabled
            readonly
            value="{{ usuario.nome }}"
          />
        </div>
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Autor</label
          ><input
            class="form-control"
            type="text"
            disabled
            readonly
            value="{{ usuarioLogado }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Título</label>
          <input class="form-control" formControlName="titulo">
        </div>
        <div class="form-outline mb-4"style="width: 50%">
          <label class="form-label">Prioridade</label>
          <input class="form-control" formControlName="prioridade">
        </div>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label">Descrição</label>
        <textarea
          class="form-control"
          placeholder="Descricao"
          formControlName="descricao"
        ></textarea>
      </div>
      <div class="row">
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Data Inicio</label>
          <input class="form-control" formControlName="dataInicio">
        </div>
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Data Final</label>
          <input class="form-control" formControlName="dataFinal">
        </div>
      
      </div>
      <div class="row">
        <button
          type="button"
          class="btn btn-primary btn-block mb-4 jus"
          style="width: 15%"
          (click)="salvarTarefa()"
        >
          Incluir
        </button>
      </div>
    </form>
  </div>
</div>
