<div class="box-container">
  <div class="box-button d-flex">
    <div class="col-6 d-flex justify-content-end p-2">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="loginNavegate()"
      >
        Login
      </button>
    </div>
    <div class="col-6 p-2">
      <button type="button" class="btn btn-primary btn-lg">Cadastrar</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="box-body">
    <div class="text-center mx-auto p-2">
      <h2>Cadastrar</h2>
    </div>
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="form-outline mb-4" style="width: 50%">
          <label class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            aria-describedby="passwordHelpInline"
            placeholder="Senha"
            formControlName="senha"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-outline mb-4" style="width: 50%">
          <label class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nome Completo"
            formControlName="nome"
          />
        </div>
        <div class="col-6">
          <label class="form-label">CPF</label>
          <input
            type="text"
            class="form-control"
            placeholder="CPF"
            formControlName="cpf"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-outline mb-4">
          <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dataNascimento"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button
            id="btnEnviar"
            type="button"
            class="btn btn-primary btn-block mb-4 jus"
            (click)="cadastrarUsuario()"
            style="width: 20%"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
