<form [formGroup]="formGroup">
  <div class="mb-3">
    <label class="form-label">Nome: </label>
    <input
      type="text"
      class="form-control"
      formControlName="nome"
      [attr.disabled]="editUsuario ? true : null"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      [attr.disabled]="true"
    />
  </div>

  <div class="row">
    <div class="mb-3" style="width: 60%">
      <label class="form-label">Matrícula</label>
      <input
        type="text"
        class="form-control"
        formControlName="matricula"
        [attr.disabled]="true"
      />
    </div>
    <div class="mb-3" style="width: 40%">
      <label class="form-label">Cpf </label>
      <input
        type="text"
        class="form-control"
        value="{{ usuario.cpf | CPF }}"
        disabled
      />
    </div>
  </div>

  <div class="row">
    <div class="form-outline mb-4" style="width: 50%">
      <label class="form-label">Status:</label>
      <select
        class="form-control"
        formControlName="status"
        [attr.disabled]="editUsuario ? true : null"
      >
        <option *ngFor="let stats of status">
          {{ stats }}
        </option>
      </select>
    </div>
    <div class="form-outline mb-4" style="width: 50%">
      <label class="form-label">Perfil:</label>
      <select
        class="form-control"
        formControlName="roles"
        [attr.disabled]="editUsuario ? true : null"
      >
        <option *ngFor="let tipo of roles">
          {{ tipo }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-outline mb-4">
      <label class="form-label">Data de Nascimento</label>
      <input
        type="date"
        class="form-control"
        formControlName="dataNascimento"
        max="{{ date }}"
        min="1900-01-01"
        [attr.disabled]="editUsuario ? true : null"
      />
    </div>
  </div>
</form>
<div class="modal-footer">
  <button
    id="btnEnviar"
    type="button"
    class="btn btn-primary btn-block mb-4 jus"
    (click)="cadastrarUsuario()"
    style="width: 20%"
    data-bs-dismiss="modal"
  >
    Salvar
  </button>
</div>
